html,body{
  background: #333333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  outline: none;
  color: #333;
}
div{
  display: block;
}

.container-fluid{
  padding-left: 0;
  padding-right: 0;
}
.hero-unit{
  background: url(../images/hero.jpg) no-repeat;
  background-size: cover;
  height: 600px;
}
.hero-unit:hover{
  opacity: 0.5;
}



.topbox{
  width: 100%;
  padding: 53px 12px 22px 12px;
  background: #202020;
  color: white;
}
.topbox .content{
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  cursor:pointer;
}

.topbox .content img{
   max-width: 100%;
}

.topbox .content .text{
  height: 18px;
  width: 100%;
  margin: 19px 0 0 0;
  padding: 0 10px;
  font-size: 14px;
  overflow: hidden;
}

.topbox .content .stext{
  width: 100%;
  height: 36px;
  margin: 9px 0 0 0;
  font-size: 12px;
  color: #848484;
  line-height: 18px;
  text-align: center;
}

.topbox .content .btnContainer{
  width: 100%;
  height: 37px;
  margin: 19px 0 27px 0;
}

.topbox .content .btnContainer .btnRead{
  width: 104px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #000;
}

.topbox .content .btnContainer .btnRead a{

   color:#b3b3b3;
   font-family: Arial, Helvetica, sans-serif;
   text-decoration: none;
   line-height: 35px;
}




.middlebox .col-md-6{
	padding: 0;
}

.middlebox .col-md-6 .direction{
	height: 20px;
	background: #000000;
}

.middlebox .col-md-6 .contentbox{
	width: 100%;
	height: 430px;
	background: #222222;
}

.middlebox .col-md-6 .contentbox img{
	width: 100%;
	height: 100%;
}



.bottombox{
	padding: 0;
}

.bottombox .blackline{
	width: 100%;
	height: 15px;
	background: #000000;
}

.bottombox .mappic{
	width: 100%;
	height: 550px;
}

.bottombox .mappic img{
	width: 100%;
	height: 100%;
}


.footer{
	width: 100%;
	height: 600px;
	background: url(../images/footer.jpg) no-repeat;
}
